.card-body {
  background: #f5f6fa !important;
}

.gap-4 > * + * {
  margin-top: 1.5rem !important;
}

.bg-primary.ml-auto, .bg-primary.text-white.ml-auto {
  background: #4f8cff !important;
}

.card {
  border-radius: 16px !important;
}

.card-header {
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
}

button.btn-primary {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button.btn-primary:hover:not(:disabled) {
  background-color: #3567d6; /* tono azul más oscuro */
  box-shadow: 0 4px 15px rgba(53, 103, 214, 0.4);
}

button.btn-primary:disabled,
button.btn-primary.btn-disabled {
  background-color: #aac1f4 !important;
  border-color: #aac1f4 !important;
  cursor: not-allowed;
  box-shadow: none !important;
}

.chat-body {
  height: 500px;
  overflow-y: auto;
  background-color: #f5f6fa;
}

.message-bubble {
  max-width: 70%;
}

.message-bubble p {
  margin-bottom: 0;
}

.btn-disabled {
  background-color: #aac1f4 !important;
  border-color: #aac1f4 !important;
  cursor: not-allowed;
  box-shadow: none !important;
}

.pointer {
  cursor: pointer;
}
